.position-continer {
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  z-index: 99999;
  position: fixed;
  display: flex;
  flex-direction: row-reverse;
  justify-content: flex-start;
  align-items: flex-start;
  
}

.full-screen-menu-continer {
  width: fit-content;
  height: 60dvh;
  /* using the border as a padding */
  border: 20px solid #222222;
  display: flex;
  flex-direction: column;
  /* calc( header-nav top + header-nav size + gap ) */
  margin-top: calc(2dvw + 4rem + 1rem); 
  margin-right: 2dvw;
}

.full-screen-menu-continer {
  /* background-color: #070707; */
  background-color: #222222;
  cursor: var(--default-mouse-cursor);
  overflow-y: scroll;
  overscroll-behavior: smooth;
  border-radius: 0.5dvw;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #07070700;
}

::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #fffaf500;
  border-radius: 20px;
}

.space-filler {
  width: 100%;
  height: 100dvh;
}

.close-continer {
  position: absolute;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: flex-start;
}

.close-bts {
  background: transparent;
  border-color: transparent;
  border: none;
}

.close-bts > svg {
  fill: #222222;
  width: 2dvw;
  height: auto;
}

.grid-menu-continer {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 16px;
  align-content: start;
  justify-content: center;
  align-items: start;
  justify-items: center;
}

.grid-menu-continer > a {
  text-decoration: none;
}

.card-text-box {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
}

.image-wrapper{
  width: 84px;
  height: 60px;
}

.card-img {
  position: relative !important;
  /* width: 100px !important; */
  height: fit-content !important;
}

.text-wrapper {
  width: 200px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: left;
  background-color: #fffaf5;
  border-radius: 6px;
}

.text-menu {
  font-family: "figtree", sans-serif;
  font-size: clamp(14px, 1dvw + 0.5rem, 2rem);
  font-weight: 600;
  color: #222222;
  text-decoration: none;
  padding-left: 20px;
}

/* 1. ACTIVE LINK (Has href) */
.card-text-box.active-link {
  /* cursor: url('/assets/cursor/pointer.svg') 10 2, pointer; */
  cursor: var(--ponter-mouse-cursor);
  opacity: 1;
}

/* 2. DISABLED LINK (No href) */
.card-text-box.disabled-link {
  /* cursor: url('/assets/cursor/not-allowed.svg') 10 10, not-allowed; */
  cursor: var(--notallowed-mouse-cursor);
  opacity: 1;
}

.card-text-box.same-page-link {
  /* Use your specific svg here */
  /* cursor: url('/assets/cursor/not-allowed.svg') 10 10, not-allowed; */
  cursor: var(--notallowed-mouse-cursor);
  opacity: 0.5;
}

/* Optional: Ensure the image inside doesn't steal the hover state */
.card-text-box * {
  pointer-events: none;
}

@media (max-width: 768px) {
  .close-bts > svg {
    width: 5dvw;
  }
}
