.beams-container {
  width: 100dvw;
  height: 100dvh;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  /* background-color: #ddd3ff; */
  background-color: transparent;
  overflow: hidden;
}
