.dekveil-container{
  position: absolute;
  top: 0;
  left: 0;
  width: 100dvw;
  height: 100dvh;
  overflow: hidden;
  z-index: -1;
}

.darkveil-canvas {
  width: 100%;
  height: 100%;
  display: block;
}
