/* components/HolographicBackground.css */
.holo-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  background-color: #050505;
  overflow: hidden;
}

.holo-canvas {
  width: 100%;
  height: 100%;
  display: block;
}