:root {
  --z-index: -10;
}

.img-container {
  width: 100dvw;
  /* height: 100%; */
  /* padding-bottom: 10%; */
  z-index: var(--z-index);
  display: flex;
}

.bg-img-home {
  position: relative !important;
  width: 70dvw !important;
  height: fit-content !important;
  object-fit: contain;
  padding: 5dvw 5dvw 5dvw 5dvw;
  filter: drop-shadow(15px 15px 10px #00000050);
  z-index: var(--z-index);
  /* Add smooth transition if resizing window */
  transition: opacity 0.3s ease;
  pointer-events: none;
}

.mobile-bg {
  display: none;
}
.desktop-bg {
  display: block;
}

/* mobile screen 768px */
@media (max-width: 768px) {
  .mobile-bg {
    display: block;
  }
  .img-container {
    /* height: -webkit-fill-available; */
    align-items: flex-end;
    justify-content: flex-start;
    padding-top: 2rem;
  }
  .desktop-bg {
    display: none;
  }
}
