
.text-container {
  width: 40dvw;
  /* height: 100%; */
  display: flex;
  flex-direction: column;
  gap: 0px;
  padding: 0dvw 5dvw 5dvw 5dvw;
}

.blur-container-heading {
  width: fit-content;
  height: auto;
}

.blur-text-heading {
  font-family: 'obodo-regular';
  font-size: Clamp(2rem, 4dvw, 6rem);
  color: #222222 ;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

.blur-text-small{
  font-family: 'figtree', sans-serif;
  font-size: Clamp(1.2rem, 1.5dvw, 3rem);
  color: #444444 ;
  text-align: left;
  padding: 0px;
  margin: 0px;
}

@media (max-width: 768px) {
  .text-container{
    width: 55dvw;
    padding-bottom: 25dvw;
    padding-top: 0dvw;
  }
}